<launch>

    <!--TurtleBot Bringup-->   
    <include file="$(find turtlebot_roscon)/launch/minimal.launch" />
    
    <!--RealSense Bringup-->   
    <include file="$(find realsense_camera)/launch/r200_nodelet_navigation.launch">
    	<arg name="enable_tf" value="false" />
    </include>

    <!-- points cloud to laser scan -->
    <include file="$(find turtlebot_roscon)/launch/3d_sensor.launch" />

    <!-- Obstacle Avoidance only -->
    <include file="$(find turtlebot_roscon)/launch/move_base.launch" />

    <!-- Wanderer -->
    <!--<node name="wanderer" pkg="navigation_sensors" type="wanderer.py" />-->

    <!-- vel smoother -->
    <include file="$(find turtlebot_roscon)/launch/vel_smoother.launch" />

    <!-- Halter -->
    <node name="halter" pkg="robot_fsm" type="halter.py" output="screen"/>
    
    <!-- relay -->
    <node name="relay" pkg="topic_tools" type="relay" args="/cmd_vel /wanderer_cmd_vel"/>

</launch>
